/* 			                _______________________	*/
/*			                TABLE                		*/
/* Datenzeile */
table.data.paging tbody tr.placeholder td {
                        background-color: #fff;
                        border: none;
                        cursor: default;
}
