.importFilter 
{
  padding: 1em 1.5em;
}

.importFilter table
{
  padding-bottom: 1.5em;
}

.importFilter th 
{
  text-align: right;
}

.importFilter td
{
  padding-left: 1em;
  padding-bottom: 2px;
}

.importFilter td input 
{
  width: 3em;
}

.importFilter .actions 
{
  bottom: 1.5em;
  text-align: center;
}