.dialog{background-color:#fff;border:1px solid #99bbe8;cursor:default;}
.dialog h1{background:#fff url(../content/images/headline.png) repeat-x;color:#15428B;font-size:14px;font-weight:bold;height:17px;letter-spacing:1px;line-height:1em;margin:0;padding:.6em .5em .5em 1em;text-align:left;}
.dialog p.text{border-bottom:1px solid #ccc;color:#000;font-size:12px;line-height:1.5em;margin:1.5em;padding-bottom:2em;text-align:left;}
.dialog ol.buttons{margin:1em 2em 1.5em;text-align:right;}
.dialog ol.buttons li{display:inline;}
#filter{background:#f7f7f7 url(../content/images/filter/menu_bg.gif) repeat-y;border:1px solid #d4d0c8;display:none;padding:0;position:absolute;text-align:left;width:180px;}
#filter fieldset{border:none;}
#filter fieldset.submit{margin:0 0 0 3px;padding:.7em 0 .8em;}
#filter ol.entries{border:none;margin:0;padding:0;}
#filter ol.entries li{border:none;height:24px;margin:0 0 .3em;padding:0;}
#filter ol.entries li.separator{border-top:1px solid #e6e6e6;margin-top:.5em;padding-top:.5em;}
#filter ol.entries li a{display:block;height:100%;margin:1px;padding:1px;text-decoration:none;}
#filter ol.entries li a.cancel{display:inline;text-decoration:none;}
#filter ol.entries li a:hover{background-color:#ffff80;border:1px solid #d4d0c8;padding:0;}
#filter ol.entries li a span.sprite{margin:1px 0 0 0;}
#filter ol.entries li a span.text{margin-left:10px;position:relative;top:-4px;}
#filter ol.entries li.values{height:auto;padding-bottom:.5em;}
#filter ol.entries li.values span.sprite{margin:3px 0 0 4px;}
#filter ol.entries li.values input{margin-left:9px;}
#filter ol.entries li.values fieldset{margin:10px 0 0 15px;}
#filter ol.entries input#filtersubmit{margin-left:12px;}
#filter ul.values{background-color:#fff;border:1px solid #e6e6e6;margin:0 3px 0 28px;max-height:200px;overflow:auto;padding:0;}
#filter ul.values li{cursor:pointer;margin:0;padding:0;white-space:nowrap;}
#filter ul.values li:hover{background-color:#22318a;color:#fff;}
#filter ul.values li label{overflow:hidden;white-space:nowrap;}
#filter #productlinelist td.count{text-align:right;}
#filter #productlinelist td.money{text-align:right;}
#filter img.resize{float:right;}
ol.footer{border-bottom:none!important;border-top:1px solid #99bbe8;bottom:0;position:absolute;}
ol.footer ol.letters{position:absolute;}
ol.footer ol.letters li{cursor:pointer;list-style-type:none;text-align:center;}
#header{border-bottom:1px solid #d8d8d8;}
#header .help{position:absolute;top:21px;right:6px;}
#header>.branding{margin-left:0;padding-top:5px;}
#header table.info{background-color:#fff;border-right:1px dotted #d8d8d8;position:absolute;padding-right:10px;right:174px;top:20px;}
#header table.info th{color:#d8d8d8;padding-right:.5em;text-align:right;}
#header table.info td{color:#d8d8d8;font-weight:bold;text-align:right;padding-bottom:4px;}
#header table.info a{color:#d8d8d8;text-decoration:underline;}
#loading{position:relative;top:2px;}
#headline{border-left:1px dotted #d8d8d8;position:absolute;top:20px;left:225px;padding-left:1em;}
#headline .dispolist{color:#d8d8d8;display:block;font-size:1.2em;font-weight:bold;position:relative;margin:-2px 0 2px 0;}
#headline .productline{color:#d8d8d8;display:block;font-size:1.2em;font-weight:bold;position:relative;margin:-2px 0 2px 0;}
#headline .shop{color:#d8d8d8;}
#header>.menu{background-color:#ccc;border-top:#000;position:relative;width:100%;}
#header>.menu>li{display:inline;}
#navigator{background-color:#dee8f6;border:1px solid #d8d8d8;border-bottom-color:#dee8f6;color:#15428B;font-weight:bold;padding:.3em .5em .4em;position:absolute;top:46px;left:5px;cursor:pointer;z-index:10;}
#header_menu{background-image:url(../../images/navigator/header_menu_bg.png);width:180px;height:18px;position:absolute;right:0;top:48px;}
#header_menu>.entries{display:inline;position:relative;font-size:.9em;top:-3px;color:#99BBE8;}
#header_menu a{color:#99bbe8;}
#header_menu>.entries a{margin-left:1em;}
#header_menu>.entries img.dropdown{padding:4px 3px 3px;position:relative;top:2px;}
#header_menu .dropdown_menu{display:none;background-color:#dee8f6;border:1px solid #99bbe8;border-top:none;position:absolute;padding:.5em 0;margin-top:3px;margin-left:-59px;z-index:10;}
#header_menu .dropdown_menu>li{text-align:right;}
#header_menu .dropdown_menu>li a{border:1px solid #dee8f6;display:block;padding:.5em 1.51em;}
#header_menu .dropdown_menu>li a:hover{background-color:#ffff80;border-color:#d4d0c8;color:#383838;}
#languageSelector{position:absolute;top:21px;right:25px;}
﻿.importFilter{padding:1em 1.5em;}
.importFilter table{padding-bottom:1.5em;}
.importFilter th{text-align:right;}
.importFilter td{padding-left:1em;padding-bottom:2px;}
.importFilter td input{width:3em;}
.importFilter .actions{bottom:1.5em;text-align:center;}
.message{border-top:1px solid;border-bottom:1px solid;display:none;padding:.4em 0 .4em 1.2em;height:1em;position:relative;width:100%;z-index:1;}
.message.error{background-color:#ffbfbf;border-color:#c00;color:#8f0000;font-weight:bold;}
.message.info{background-color:#dee8f6;border-color:#99bbe8;border-top:none;color:#15428B;font-weight:normal;}
.message.autoSaveInfo{background-color:#dee8f6;border-color:#99bbe8;border-top:none;color:#15428B;font-weight:normal;}
.message.filter{background-color:#ffe7c9;border-color:#ffcf93;color:#000;font-weight:normal;}
.message.success{background-color:#0C0;border-color:#008F00;color:#fff;font-weight:normal;}
.message.warning{background-color:#FBE395;border-color:#E0AA85;color:#382F24;font-weight:normal;}
#navigation{background-image:url(../../images/navigator/navigator_inactive.png);background-repeat:repeat-x;position:relative;}
#navigation .breadcrumbcontainer{overflow:hidden;}
#navigation h3{display:inline;padding:0 20px;position:relative;top:-13px;font-weight:normal;}
#navigation ul{width:2000px;height:33px;}
#navigation ul li{height:33px;margin:0;padding:0;float:left;}
#navigation li.active{background-image:url(../../images/navigator/navigator_active.png);color:blue;}
#navigation li.disabled{color:gray;}
#navigation li.disabled a{color:gray;}
#navigation .textseparator{padding:0;position:absolute;color:#15428B;text-align:center;width:40px;margin-top:10px;margin-left:-15px;font-size:.9em;}
#navigation li.disabled .textseparator{color:gray;}
#navigation .scrollarea{background-color:#dee8f6;background-repeat:no-repeat;background-position:center;cursor:pointer;margin:1px 0 1px;position:absolute;top:0;bottom:0;width:20px;opacity:.9;}
#navigation .scrollarea:hover{opacity:1;}
#navigation .scrollarea.left{left:0;background-image:url(../../images/arrow_left.png);}
#navigation .scrollarea.right{right:0;background-image:url(../../images/arrow_right.png);}
#printDialogPanel{position:absolute;}
#printdialog{width:39em;}
#printdialog div.printDispolistRegion ul li{text-align:right;left:-13em;}
#printdialog div.printShowroomLabelsRegion ul li{text-align:left;left:12em;top:1em;}
#printdialog hr{color:#99BBE8;background-color:#99BBE8;width:50%;height:.1em;align:center;margin-top:2em;margin-bottom:2em;}
#printdialog input[type="text"]{width:5em;}
#printdialog .message{text-align:left;width:37.8em;}
#printdialog ul li{position:relative;}
#sidebar{position:absolute;top:70px;bottom:3px;}
#sidebar h2{width:239px;height:20px;}
#sidebar a.close{cursor:pointer;right:5px;position:absolute;top:9px;}
#sidebar .widgets{position:absolute;left:0;top:32px;bottom:0;overflow:hidden;width:100%;}
#sidebar .widgets .widget .head{background:url(../../images/sidebar/sidebar_header_24.png) repeat-x;border-top:1px solid #fff;height:24px;vertical-align:middle;width:100%;}
#sidebar .widgets .widget .head span{padding-left:.1em;position:relative;top:5px;}
#sidebar .widgets .widget .head .sprite{margin-left:.4em;padding:0;top:6px;}
#sidebar .widgets .widget.disabled .head span{color:#d8d8d8;margin-left:17px;}
#sidebar .widgets .widget .head img{margin:0;padding-left:.2em;position:relative;top:5px;}
#sidebar .widgets .widget .head:hover{cursor:pointer;}
#sidebar .widgets .widget .head .body{overflow:auto;}
.widget .body{display:none;}
#sidebar a.open{cursor:pointer;position:absolute;top:7px;}
#sidebar .filter li.filtered{display:none;}
#sidebar .filter{background-color:#fff;margin:0 1em;width:100%;}
#sidebar .filter ol li{margin-top:1em;}
#sidebar .filter ol li label{display:block;font-weight:bold;margin-bottom:.2em;text-transform:none;}
#sidebar .filter ol li select{width:230px;}
#sidebar .filter div.materialgroupsContainer{border:1px solid #d8d8d8;max-height:400px;overflow:auto;width:228px;}
#sidebar .filter ul.materialgroups{width:100%;}
#sidebar .filter ul.materialgroups li{border-bottom:1px solid #efefef;margin:0;overflow:hidden;padding:.2em 0;}
#sidebar .filter ul.materialgroups li.selectAll{background-color:#f7f7f7;}
#sidebar .filter ul.materialgroups li input.checkbox{padding-top:3px;}
#sidebar .filter ul.materialgroups li label{display:inline;font-weight:normal;margin-bottom:0;}
#sidebar .filter ul.materialgroups li label.matGroupId{color:#a5a5a5;width:5em;}
#sidebar .filter ul.materialgroups li.selectAll input#searchCode{width:1em;}
#cartinfos{width:100%;}
#cartinfos td{border:none;}
#cartinfos tr td.descr{padding-left:20px;text-align:left;}
#cartinfos tr td.value{font-weight:bold;text-align:right;}
#cartinfos tr td.unit{padding:0 20px 0 .5em;text-align:left;}
#cartinfos tr td.unit small{color:#adadad;font-size:.8em;}
#cartinfos tr td{padding-top:1em;}
#sidebar .dispolistTree span img{margin-right:4px;}
#sidebar .dispolistTree{background-color:#fff;overflow:hidden;}
#sidebar .dispolistTree li{overflow:hidden;white-space:nowrap;}
#sidebar .dispolistTree li.empty{color:#d8d8d8;}
#sidebar .dispolistTree li.ordered span{color:#d8d8d8;}
#sidebar .dispolistTree li img{border:1px solid #fff;cursor:pointer;}
#sidebar .dispolistTree li span{overflow:hidden;padding-left:2px;white-space:nowrap;}
div.contentcontainer{margin:0 auto;overflow:auto;position:absolute;top:81px;right:0;bottom:0;left:0;}
div.tableheader{margin:0 auto;overflow:hidden;left:0;right:0;}
div.tableheader>.headercontainer{background:#fff url(../content/images/table/table_header_23.png) repeat-x top;overflow:hidden;width:100%;}
table.data{background-color:#fff;table-layout:fixed;width:100%;}
table.data.selectable{-moz-user-select:none;-khtml-user-select:none;user-select:none;}
table.data.header{background:#d8d8d8 url(../content/images/table/table_header_23.png) repeat-x top;border-bottom:1px solid #d8d8d8;padding-right:15px;}
table.data thead tr th{border-left:1px solid #f1f1f1;border-right:1px solid #d8d8d8;height:22px;overflow:hidden;padding-left:.3em;position:relative;vertical-align:middle;white-space:nowrap;}
table.data thead tr th span{display:block;height:17px;margin-top:4px;overflow:hidden;position:relative;vertical-align:top;}
table.data thead tr th span.sprite.hide{display:none;}
table.data thead tr th span.sprite{display:inline-table;}
table.data thead tr th.sorted span.sort_state{height:4px;top:0;left:0;position:absolute;width:100%;}
table.data thead tr th.sorted span.sort_state{background:url(../content/images/table/asc.gif) no-repeat center;top:-4px;}
table.data thead tr th.desc span.sort_state{background:url(../content/images/table/desc.gif) no-repeat center;top:8px;}
table.data thead tr th span.filter_state{background:url(../content/images/table/filter.gif) no-repeat right;position:absolute;height:12px;width:100%;top:-2px;left:-2px;}
table.data.header thead tr th.scrollmargin{border-right:none;border-bottom:none;}
table.data thead tr{position:relative;}
table.data tbody tr td{background-color:#fff;border-bottom:1px solid #d8d8d8;cursor:default;height:28px;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap;}
table.data tbody tr td p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
table.hover tbody tr.hover td{background-color:beige;}
table tbody tr.disabled td{color:#707070;}
table tbody tr.disabled td.me a{color:#ADADAD;}
table.data tbody tr td p{overflow:hidden;padding:0 .3em;text-overflow:ellipsis;white-space:nowrap;}
table.data tbody tr.odd td{background-color:#f1f1f1;}
table.data tbody tr.selected td{background-color:#22318a!important;color:#fff;}
table.data tbody tr.selected td.last{border-right:1px dotted #727272;}
table.data td.nodata{border:none;color:#d8d8d8;text-align:center;}
table.data tbody tr td img{cursor:pointer;}
table.data input{-moz-user-select:normal!important;-khtml-user-select:auto;user-select:normal;}
.button{cursor:pointer;}
.button.green:hover{background-color:#99e673;border:1px solid #60bf30;}
.button.blue:hover{background-color:#ced7e5;border:1px solid #93baff!important;}
.button.red:hover{background-color:#ffbfbf;border:1px solid #b38686!important;}
.button.grey:hover{background-color:#f1f1f1;border:1px solid #d8d8d8;}
table.hover tbody tr.hover td{background-color:#e9e9e9;}
table.data.paging tbody tr.placeholder td{background-color:#fff;border:none;cursor:default;}
ol.toolbar{background:#dee8f6 url(../../images/toolbar/toolbar_25.png) repeat-x;border-bottom:1px solid #99bbe8;height:25px;margin:0;padding:0;width:100%;}
ol.toolbar>li{border-left:1px solid #f7f7f7;border-right:1px solid #99BBE8;display:block;float:left;height:12px;margin:0;padding:2px 4px 0 2px;position:relative;top:5px;}
ol.toolbar>li.first{border-left:none;}
ol.toolbar>li.last{border-right:none;}
ol.toolbar>li a{display:inline;height:100%;margin:1px;padding:7px 2px 1px;position:relative;text-decoration:none;top:-3px;}
ol.toolbar>li a:hover{background-color:#bed4ef;border:1px solid #99bbe8;color:#000;margin:0;}
ol.toolbar>li a img{margin:0;position:relative;top:1px;}
ol.toolbar>li a.disabled:hover{background:none;border:none;cursor:default;margin:1px;}
ol.toolbar>li a span{margin:0;padding:0;position:relative;top:-3px;}
ol.toolbar>li a.disabled span{color:Gray;}
ol.toolbar>li a span.sprite{top:2px;}
ol.toolbar>li span{margin:0 2px;padding:0;position:relative;top:-4px;}
ol.toolbar>li select,ol.toolbar>li input{position:relative;margin-left:4px;top:-3px;}
.tooltip{margin-left:-10px;position:absolute;width:230px;z-index:100;}
.tooltip>img{margin-left:20px;}
.tooltip>div{background-color:#ffd;border:1px solid #000;color:#000;padding:0;position:relative;top:-3px;z-index:90;}
.tree{margin-right:4px;}
.tree .knot{padding-left:15px;padding-top:.5em;}
.tree li{white-space:nowrap;}
.tree .checkbox{position:relative;top:1px;}
.tree .budgetinfo{border:1px solid #fff;position:relative;top:4px;}
.tree .label{position:relative;top:-1px;white-space:nowrap;}
.tree .knot.modeltypes{padding-left:30px;}
.tristate.checkbox{background-repeat:no-repeat;display:inline-block;height:13px;width:13px;}
.tristate.checkbox.checked{background-image:url(../../images/tristate/checkbox_checked.png);}
.tristate.checkbox.unchecked{background-image:url(../../images/tristate/checkbox_unchecked.png);}
.tristate.checkbox.partly{background-image:url(../../images/tristate/checkbox_partlychecked.png);}
.tristate.checkbox.hide{display:none;}
﻿#ExportData{overflow:auto;bottom:0;left:0;right:0;top:25px;position:absolute;}
#ExportData ol{min-width:600px;padding-left:1.3em;}
#ExportData ol li{margin-top:.1em;}
﻿#ExportConfigurationData{padding-top:2em;padding-left:2em;background-color:#fff;}
#ExportConfigurationData h3{color:#15428B;font-size:1em;font-weight:bold;letter-spacing:1px;margin:2em 2em 1em;text-transform:uppercase;}
#ExportConfigurationData input{width:3em;}
#ExportConfigurationData ul{margin:1em 2em 1em 2.5em;}
#ExportConfigurationData ul li{border-bottom:1px dashed #f1f1f1;height:22px;padding:.4em 0;vertical-align:middle;}
#ExportConfigurationData ul li label{text-align:left;float:left;height:22px;vertical-align:middle;width:70px;padding-bottom:.5em;}
#ExportConfigurationData ul li span{margin-left:10px;}
﻿#ImportData{bottom:0;left:0;right:0;top:25px;position:absolute;}
#ImportData ol{min-width:600px;padding-left:1.3em;}
table.data{table-layout:fixed;width:expression(main.offsetWidth-18);}
table.data.header{background-image:none;padding-right:15px;}
table.data thead tr th{background:#d8d8d8 url(../images/table/table_header_23.png) repeat-x top;}
table.data>thead>tr>th>span{line-height:1.2em;}
table.data thead tr th.sorted span.sort_state{height:10px;margin:0;}
table.data thead tr th.sorted span.sort_state{top:-5px;}
table.data thead tr th.desc span.sort_state{top:8px;}
ol.toolbar li a{padding-top:2px;padding-bottom:3px;padding-right:5px;}
ol.toolbar>li a span{top:-1px;left:3px;}
ol.toolbar>li a span.sprite{top:2px;left:0;}
ol.toolbar>li a.closebudget{left:5px;}
ol.footer>li span{top:-6px;}
ol.footer>li span.sprite{top:0;}
ol.footer>li input{top:-5px;}
#navigation h3{top:-11px;}
#navigation li.modellist>h3{top:-13px;}
#header_menu>.entries{top:-1px;}
#header_menu>menu_dropdown_arrow_png{position:relative;top:-3px;left:3px;display:none;}
#header_menu .dropdown_menu{margin-top:22px;margin-left:-211px;}
div.contentcontainer{top:55px;}
#modellists div.contentcontainer{top:82px;}
#quantityproposals div.contentcontainer{top:155px;}
#sidebar dl.entries{width:100%;}
table.data{border-collapse:collapse;}
table.data thead tr th.desc span.sort_state{top:7px;}
#tooltip{position:absolute;z-index:3000;border:1px solid #111;background-color:#eee;padding:5px;opacity:.85;}
#tooltip h3,#tooltip div{margin:0;}
.treeview,.treeview ul{padding:0;margin:0;list-style:none;}
.treeview ul{background-color:white;margin-top:4px;}
.treeview .hitarea{background:url(../images/treeview/treeview-default.gif) -64px -25px no-repeat;height:16px;width:16px;margin-left:-16px;float:left;cursor:pointer;}
* html .hitarea{display:inline;float:none;}
.treeview li{margin:0;padding:3px 0 3px 16px;}
.treeview a.selected{background-color:#eee;}
#treecontrol{margin:1em 0;display:none;}
.treeview .hover{color:red;cursor:pointer;}
.treeview li{background:url(../images/treeview/treeview-default-line.gif) 0 0 no-repeat;}
.treeview li.collapsable,.treeview li.expandable{background-position:0 -176px;}
.treeview .expandable-hitarea{background-position:-80px -3px;}
.treeview li.last{background-position:0 -1766px;}
.treeview li.lastCollapsable,.treeview li.lastExpandable{background-image:url(../images/treeview/treeview-default.gif);}
.treeview li.lastCollapsable{background-position:0 -111px;}
.treeview li.lastExpandable{background-position:-32px -67px;}
.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea{background-position:0 0;}
.treeview-red li{background-image:url(../images/treeview/treeview-red-line.gif);}
.treeview-red .hitarea,.treeview-red li.lastCollapsable,.treeview-red li.lastExpandable{background-image:url(../images/treeview/treeview-red.gif);}
.treeview-black li{background-image:url(../images/treeview/treeview-black-line.gif);}
.treeview-black .hitarea,.treeview-black li.lastCollapsable,.treeview-black li.lastExpandable{background-image:url(../images/treeview/treeview-black.gif);}
.treeview-gray li{background-image:url(../images/treeview/treeview-gray-line.gif);}
.treeview-gray .hitarea,.treeview-gray li.lastCollapsable,.treeview-gray li.lastExpandable{background-image:url(../images/treeview/treeview-gray.gif);}
.treeview-famfamfam li{background-image:url(../images/treeview/treeview-famfamfam-line.gif);}
.treeview-famfamfam .hitarea,.treeview-famfamfam li.lastCollapsable,.treeview-famfamfam li.lastExpandable{background-image:url(../images/treeview/treeview-famfamfam.gif);}
.filetree li{padding:3px 0 2px 16px;}
.filetree span.folder,.filetree span.file{padding:1px 0 1px 16px;display:block;}
.filetree span.folder{background:url(../images/treeview/folder.gif) 0 0 no-repeat;}
.filetree li.expandable span.folder{background:url(../images/treeview/folder-closed.gif) 0 0 no-repeat;}
.filetree span.file{background:url(../images/treeview/file.gif) 0 0 no-repeat;}
html{overflow:hidden;}
body{background-color:#dee8f6;overflow:hidden;padding:0;margin:0;width:100%;height:100%;}
#header{background-color:#fff;padding:0;margin:0;position:absolute;top:0;left:0;width:100%;height:65px;overflow:hidden;}
#sidebar{background-color:#fff;border:1px solid #99bbe8;padding:0;margin:0;position:absolute;top:70px;left:5px;overflow:auto;width:250px;}
#main{background-color:#fff;border:1px solid #99bbe8;border-top:none;padding:0;margin:0;position:absolute;top:70px;left:25px;right:3px;bottom:3px;overflow:hidden;}
ol,ul{margin:0;}
ol li,ul li{list-style-type:none;margin:0;padding:0;}
a{color:#22318a;}
table{width:100%;}
table tfoot.loading tr td{background-color:#fff;height:300px;text-align:center;vertical-align:middle;}
table.hover tbody tr:hover td{background-color:#ffff80!important;color:#000!important;cursor:pointer;}
table.hover tbody tr.first{display:none;}
table tr th{border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;border-left:1px solid #fff;color:#adadad;cursor:pointer;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#e6e6e6);font-weight:normal;height:20px;overflow:hidden;padding-left:6px;text-align:left;vertical-align:middle;white-space:nowrap;position:relative;}
table tbody tr th:hover{background-color:#ffff80;color:#000;filter:none;}
table tr th.single{border-right:none;border-left:none;}
table tr th.last{border-right:none;}
table tr th.first{border-left:none;}
table tr th img.sort{position:absolute;}
table tr th img.sort.desc{margin:17px -14px 0;}
table tr th img.sort.asc{margin:1px -29px 0;}
table tr th a.filter{background:url(../images/filter.gif) no-repeat center;display:none;height:21px;position:absolute;right:0;width:12px;}
table tr td{background-color:#f1f1f1;border-bottom:1px solid #d4d0c8;height:28px;padding-left:6px;vertical-align:middle;}
table tr.odd td{background-color:#fff;border-bottom:1px solid #d4d0c8;}
table tr td p{margin:.2em 0;}
table tr th.sorted img.sort{display:inline;float:right;margin:-6px 4px 0 0;}
table tr th.sorted img.filter{display:inline;float:right;margin:-10px 4px 0 0;}
div.container div.header{background-color:#fff;border-bottom:4px solid #22318a;}
.header .bar{background-color:#22318a;height:20px;}
.header img#branding1{float:left;position:relative;top:1.0em;}
.header img#branding2{float:right;left:1px;position:relative;top:1.2em;}
.header h3#position{background:#22318A url(../images/small_expand.gif) no-repeat 97%;clear:both;color:#fff;cursor:pointer;display:inline;font-size:8.4pt;margin:0 0 2px 5px;padding:3px 23px 4px 7px;top:-2px;position:relative;}
.header h3#position:hover{background-color:#1C2761;}
.header h3#position img{padding-left:5px;}
div.container div div.sidebar{background-color:#f7f7f7;border-top:1px solid #d4d0c8;border-left:1px solid #eee;margin-left:-1px;position:relative;}
div.container div div.sidebar.span-1{cursor:pointer;}
div.container div div.sidebar.span-1:hover{background-color:#f1f1f1;}
div.sidebar label{display:block;margin-bottom:.1em;}
div.sidebar table label{font-style:normal;font-weight:normal;}
div.sidebar select,div.sidebar input{font-size:8.4pt;}
div.sidebar table.tiny tr td{background-color:#f7f7f7;border:none;border-bottom:1px solid #eee;height:15px;padding:0 5px 0 0;}
div.sidebar table.tiny tr td.wgrnr{color:#adadad;}
div.container div div.main{background-color:#fff;border-top:1px solid #d4d0c8;border-left:1px solid #eee;margin:0 -1px;}
div.container div div.main h2{background-color:#f7f7f7;color:#adadad;float:left;font-size:17px;font-weight:normal;letter-spacing:1px;line-height:1em;margin:0;padding:.5em .5em .6em 10px;}
div.container div.footer{border-top:1px solid #eee;}
#filter{background:#f7f7f7 url(../images/menu_bg.gif) repeat-y;border:1px solid #d4d0c8;display:none;height:325px;margin-left:20px;padding:0;position:absolute;text-align:left;width:180px;}
#filter fieldset{border:none;}
#filter fieldset.submit{margin:0 0 0 3px;padding:.7em 0 .8em;}
#filter ol.entries{border:none;margin:0;padding:0;}
#filter ol.entries li{border:none;height:24px;margin:0 0 .3em;padding:0;}
#filter ol.entries li.separator{border-top:1px solid #e6e6e6;margin-top:.4em;padding-top:.4em;}
#filter ol.entries li a{display:block;height:100%;margin:2px;text-decoration:none;}
#filter ol.entries li a.cancel{display:inline;text-decoration:none;}
#filter ol.entries li a:hover{background-color:#ffff80;border:1px solid #d4d0c8;margin:1px;}
#filter ol.entries li a img{margin:1px 0 0 0;}
#filter ol.entries li a span{margin-left:10px;position:relative;top:-4px;}
#filter ol.entries li.values img{margin:3px 0 0 4px;}
#filter ol.entries li.values input{margin-left:9px;}
#filter ol.entries li.values fieldset{margin:10px 0 0 15px;}
#filter ul.values{background-color:#fff;border:1px solid #e6e6e6;margin:0 5px 0 32px;max-height:200px;height:200px;overflow:auto;padding:0;width:140px;}
#filter ul.values li{cursor:pointer;}
#filter ul.values li:hover{background-color:#22318a;color:#fff;}
#filter #productlinelist td.count{text-align:right;}
#filter #productlinelist td.money{text-align:right;}
#models th.module{filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#d5d5d5);text-align:center;}
#models th.module:hover{background-color:#ffff80;color:#000;filter:none;}
#models td.module{text-align:center;}
#models tr td.openclose{background-color:#f1f1f1!important;border-color:#f1f1f1!important;border-right:1px solid #d4d0c8!important;}
#models tr.odd td.descr,#models tr.odd td.module{background-color:#f7f7f7;}
#models td.descr,#models td.module{background-color:#ededed;}
#models tr:hover td.descr,#models tr:hover td.module{background-color:#fafa75;}
#models td.supplier{text-align:center;}
#models td.assemblage{text-align:center;text-transform:uppercase;}
#models td.advertisment{text-align:center;}
#models td.openclose img{margin-left:2px;}
#models td.price{padding-right:.2em;}
#models a.button{margin:1px;}
#models a.button img{margin-top:1px;padding:2px;}
#models a.button:hover{background-color:#bcc3e6;border:1px solid #9da3bf;margin:0;}
#models tr.semi_selected td{background-color:#d1d9ff;}
#models tr.semi_selected td.descr,#models tr.semi_selected td.module{background-color:#d0d3f0;}
#models tr.selected td{background-color:#22318a;color:#fff;}
#models tr.selected td.descr,#models tr.selected td.module{background-color:#1c2b86;}
#models tr.modeltype{display:none;}
#models tr.modeltype td{background-color:#f1f1f1;}
#models tr.odd.modeltype td{background-color:#fff;}
#models tr.odd.modeltype td.openclose{background-color:#fff;border-color:#fff;}
#models tr.odd.modeltype td.descr,#models tr.odd.modeltype td.module{background-color:#f7f7f7;}
#models tr.modeltype.selected td{background-color:#22318a;color:#fff;}
#models tr.modeltype.selected td.descr,#models tr.modeltype.selected td.module{background-color:#1c2b86;}
#cartinfos{width:100%;}
#cartinfos td{border:none;}
#cartinfos td.descr{padding:0 10px 0 20px;text-align:left;}
#cartinfos td.value{font-weight:bold;text-align:right;}
#cartinfos td.unit{text-align:left;width:80px;}
#cartinfos td.unit small{color:#adadad;font-size:.8em;}
#cartinfos tr.prices td{padding-top:1em;}
#cartinfos tr.prices td,#cartinfos tr.average td{background-color:#f1f1f1;}
#cartinfos tr.aoc td,#cartinfos tr.bonus td,#cartinfos tr.refresh td{background-color:#f7f7f7;}
.sidebar .content h2{background-color:#f7f7f7;border-bottom:1px solid #eee;color:#adadad;font-size:17px;font-weight:normal;letter-spacing:1px;line-height:1em;margin:0;padding:.5em .5em .6em 10px;}
.widget{border-bottom:1px solid #eee;display:none;}
table.widgetheader tr th{border-bottom:1px solid #d4d0c8;border-top:none;color:#1C2761;height:28px;padding-left:6px;text-align:left;vertical-align:middle;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#e0e0e0);}
table.widgetheader tr:hover th{filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#d5d5d5);}
table.widgetheader.selected tr th{background-color:#22318a;border-right-color:#b3b35a;color:#fff;filter:none;background:#22318A url(../images/desc.gif) no-repeat 97%;}
#toolbar{background-color:#f7f7f7;float:left;height:27px;margin:0;padding:9px 0 0 0;width:auto;}
#toolbar li{border-left:1px dotted #d4d0c8;display:inline;height:100%;margin:0;padding:0 1px;position:relative;}
#toolbar li a{display:inline;border:1px solid #f7f7f7;height:100%;margin:0;padding:1px 0;position:relative;text-decoration:none;}
#toolbar li a:hover{background-color:#ffff80;border-color:#d4d0c8;border-left-style:solid;color:#000;}
#toolbar li a img{margin:0;padding:0 3px 0 7px;position:relative;top:1px;}
#toolbar li a span{margin:0;padding:0 5px 0 0;position:relative;top:-3px;}
div.dialog{margin:0 0 1.5em;width:652px;}
div.dialog>h2{background-color:#22318a;border-bottom:1px solid #d4d0c8;color:#fff;font-size:17px;font-weight:normal;letter-spacing:1px;line-height:1em;padding:.67em 0 .67em 10px;}
div.dialog hr{padding:1.5em 10px;color:#000;text-align:left;line-height:1.5em;border-bottom:1px solid #ccc;margin:0 10px;}
div.dialog>ol.buttons{margin:2em 0 0;padding-top:1em;}
div.dialog>ol.buttons>li{display:inline;}
.navigator_sprite{background:transparent url(../images/navigator_sprites.png) no-repeat;display:inline-block;}
.header_curve_png{background-position:-0px -0px;width:18px;height:18px;}
.menu_dropdown_arrow_png{background-position:-18px -0px;width:5px;height:3px;}
.navigator_active_inactive_png{background-position:-23px -0px;width:7px;height:33px;}
.navigator_inactive_active_png{background-position:-30px -0px;width:7px;height:33px;}
.navigator_inactive_inactive_png{background-position:-37px -0px;width:7px;height:33px;}
.navigator_or_active_inactive_png{background-position:-44px -0px;width:7px;height:33px;}
.navigator_or_inactive_active_png{background-position:-51px -0px;width:7px;height:33px;}
.navigator_or_inactive_inactive_png{background-position:-58px -0px;width:7px;height:33px;}
#popuptabs li.active{background-image:url(../images/navigator/navigator_active.png);color:blue;}
#popuptabs ul li.inactive{background-image:url(../images/navigator/navigator_inactive.png);color:blue;}
#popuptabs h2{background:transparent;background-image:none;display:inline;padding:0 20px;position:relative;top:10px;font-weight:normal;}
#popuptabs ul{background-image:url(../images/navigator/navigator_inactive.png);background-repeat:repeat-x;overflow:hidden;min-width:600px;width:100%;height:33px;}
#popuptabs ul li.first{border-left-width:0;}
#popuptabs ul li{height:33px;margin:0;padding:0;float:left;border-left-width:1px;border-left-style:solid;border-left-color:#f0f4f8;border-right-width:1px;border-right-style:solid;border-right-color:#99bbe8;}
#popuptabs ul li.last{border-right-width:0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
li{list-style-type:none;}
body{line-height:1;color:#333;background:white;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
.sprite{background:transparent url(../content/images/sprites.png) no-repeat;display:inline-block;}
.accept_png{background-position:-0px -0px;width:16px;height:16px;}
.accept_semi_png{background-position:-16px -0px;width:16px;height:16px;}
.add_png{background-position:-32px -0px;width:16px;height:16px;}
.back_png{background-position:-48px -0px;width:16px;height:16px;}
.bought_png{background-position:-64px -0px;width:16px;height:16px;}
.bought_semi_png{background-position:-80px -0px;width:16px;height:16px;}
.budget_edit_png{background-position:-96px -0px;width:16px;height:16px;}
.calendar_day_gif{background-position:-112px -0px;width:10px;height:10px;}
.camera_png{background-position:-122px -0px;width:16px;height:16px;}
.cart_png{background-position:-138px -0px;width:16px;height:16px;}
.cart_semi_png{background-position:-154px -0px;width:16px;height:16px;}
.change_order_state_png{background-position:-170px -0px;width:16px;height:16px;}
.change_order_state_1_png{background-position:-186px -0px;width:16px;height:16px;}
.change_order_state_2_png{background-position:-202px -0px;width:16px;height:16px;}
.chart_line_png{background-position:-218px -0px;width:16px;height:16px;}
.chart_line_semi_png{background-position:-234px -0px;width:16px;height:16px;}
.checkbox_checked_png{background-position:-250px -0px;width:13px;height:13px;}
.checkbox_partlychecked_png{background-position:-263px -0px;width:13px;height:13px;}
.checkbox_unchecked_png{background-position:-276px -0px;width:13px;height:13px;}
.close_gif{background-position:-289px -0px;width:19px;height:19px;}
.close_grey_gif{background-position:-308px -0px;width:11px;height:10px;}
.closed_gif{background-position:-319px -0px;width:11px;height:11px;}
.colapsed_gif{background-position:-330px -0px;width:11px;height:11px;}
.collapse_gif{background-position:-341px -0px;width:13px;height:13px;}
.copy_png{background-position:-354px -0px;width:16px;height:16px;}
.cross_gif{background-position:-370px -0px;width:10px;height:10px;}
.csv_png{background-position:-380px -0px;width:16px;height:16px;}
.curve_png{background-position:-396px -0px;width:16px;height:16px;}
.details_png{background-position:-412px -0px;width:16px;height:16px;}
.disabled_gif{background-position:-428px -0px;width:11px;height:11px;}
.down_gif{background-position:-439px -0px;width:7px;height:4px;}
.edit_png{background-position:-446px -0px;width:16px;height:16px;}
.empty_gif{background-position:-462px -0px;width:1px;height:1px;}
.exclamation_png{background-position:-463px -0px;width:16px;height:16px;}
.expand_gif{background-position:-479px -0px;width:13px;height:13px;}
.expanded_gif{background-position:-492px -0px;width:11px;height:11px;}
.filter_gif{background-position:-503px -0px;width:12px;height:12px;}
.filter_cancel_gif{background-position:-515px -0px;width:16px;height:16px;}
.help_gif{background-position:-531px -0px;width:16px;height:16px;}
.information_png{background-position:-547px -0px;width:16px;height:16px;}
.magnifier_png{background-position:-563px -0px;width:16px;height:16px;}
.magnify_gif{background-position:-579px -0px;width:10px;height:10px;}
.magnify_minus_gif{background-position:-589px -0px;width:10px;height:10px;}
.magnify_plus_gif{background-position:-599px -0px;width:10px;height:10px;}
.module_png{background-position:-609px -0px;width:16px;height:16px;}
.opened_gif{background-position:-625px -0px;width:11px;height:11px;}
.order_png{background-position:-636px -0px;width:16px;height:16px;}
.order_visible_png{background-position:-652px -0px;width:16px;height:16px;}
.photo_png{background-position:-668px -0px;width:16px;height:16px;}
.planned_png{background-position:-684px -0px;width:16px;height:16px;}
.planned_semi_png{background-position:-700px -0px;width:16px;height:16px;}
.play_png{background-position:-716px -0px;width:16px;height:16px;}
.plus_gif{background-position:-732px -0px;width:10px;height:10px;}
.printer_png{background-position:-742px -0px;width:16px;height:16px;}
.remove_png{background-position:-758px -0px;width:16px;height:16px;}
.remove_single_png{background-position:-774px -0px;width:16px;height:16px;}
.remove_visible_png{background-position:-790px -0px;width:16px;height:16px;}
.resultset_first_png{background-position:-806px -0px;width:16px;height:16px;}
.resultset_first_grey_png{background-position:-822px -0px;width:16px;height:16px;}
.resultset_last_png{background-position:-838px -0px;width:16px;height:16px;}
.resultset_last_grey_png{background-position:-854px -0px;width:16px;height:16px;}
.resultset_next_png{background-position:-870px -0px;width:16px;height:16px;}
.resultset_next_grey_png{background-position:-886px -0px;width:16px;height:16px;}
.resultset_previous_png{background-position:-902px -0px;width:16px;height:16px;}
.resultset_previous_grey_png{background-position:-918px -0px;width:16px;height:16px;}
.save_png{background-position:-934px -0px;width:16px;height:16px;}
.sort_asc_gif{background-position:-950px -0px;width:20px;height:20px;}
.sort_desc_gif{background-position:-970px -0px;width:20px;height:20px;}
.table_refresh_png{background-position:-990px -0px;width:16px;height:16px;}
.tag_green_png{background-position:-1006px -0px;width:16px;height:16px;}
.tick_gif{background-position:-1022px -0px;width:10px;height:10px;}
.tick_png{background-position:-1032px -0px;width:16px;height:16px;}
.tick_selected_gif{background-position:-1048px -0px;width:10px;height:10px;}
.tick_semi_png{background-position:-1058px -0px;width:10px;height:10px;}
.trash_gif{background-position:-1068px -0px;width:10px;height:10px;}
body{color:#383838;font-family:"Tahoma",Verdana,Arial,Sans-Serif;font-size:8.4pt;}
input,select,textarea{font-family:"Tahoma",Verdana,Arial,Sans-Serif;font-size:8.4pt;}
h2{background:#fff url(../images/headline.png) repeat-x;cursor:pointer;color:#15428B;font-size:100%;font-weight:bold;height:17px;letter-spacing:0;line-height:1em;margin:0;padding:.6em .5em .5em 5px;display:block;}
a{color:#15428B;text-decoration:none;}
.money{text-align:right;}
.number{text-align:right;}
.center{text-align:center;}
.hide{display:none;}
.right{text-align:right;}
.clickable{cursor:pointer;}
input.error{border:2px solid red;}
select.error{background:#ffbfbf;border:1px solid #c00;color:#8f0000;}
textarea.error{border:1px solid red;}
table.budget tr.productline td{color:#d8d8d8;border-bottom:2px solid #d8d8d8;font-weight:bold;height:3.5em;vertical-align:bottom;}
table.budget tr.productline td p{margin-bottom:.3em;}
table.budget tr.materialgroup td{background-color:#f1f1f1;}
table.budget tr td.degree input{text-align:right;width:4em;}
table.budget tr td.budget input{text-align:right;width:8em;}
div#shopfilter{background-color:#f1f1f1;border-bottom:1px solid #d8d8d8;color:#666;max-height:8em;padding:1em 0 1em 1em;}
div#shopfilter h3{font-weight:bold;}
#budgetshop tr td{border-right:1px solid #d8d8d8;padding-right:1px;}
#budgetshop tr td.materialgroup{background-color:#f1f1f1!important;}
#budgetshop tr.sum td{border-top:1px solid #d8d8d8;border-bottom:2px solid #000;color:#15428b;font-weight:bold;}
#budgetshop tr.sum.total td{border:none;color:#000;}
div#shopfilter ul.shops{width:100%;max-height:8em;overflow:auto;}
div#shopfilter ul.shops li{display:inline;float:left;margin-bottom:.2em;padding:0;text-align:left;width:15em;}
#dispolist{background-color:#f7f7f7;}
div.tablecontainer{top:81px;}
.modellist tbody tr td{padding:0 1px;}
.modellist tr.selected td{background-color:#22318a!important;color:#fff;}
.modellist tr.semi_selected td{background-color:#d1d9ff!important;}
.modellist td.openclose{background-color:#fff!important;border-right:1px solid #d8d8d8;border-bottom-color:#f7f7f7;}
.modellist tr.modeltype td.openclose{border-top:none;}
.modellist td.image_states .states ul li{display:block;float:left;padding:0;text-align:center;width:29px;}
.modellist td.image_states .image ul{display:inline;float:right;margin-right:5px;}
.modellist td.image_states .image ul li{height:18px;}
ul.sku{padding-left:2em;}
ul.sku ol{padding-bottom:1em;}
ul.sku li{clear:both;height:2em;}
ul.sku li.odd ol li{background-color:#f1f1f1;}
ul.sku ol li{clear:none;float:left;}
ul.sku ol li.first{border-left:1px solid #d8d8d8;}
ul.sku ol li.last{border-right:1px solid #d8d8d8;}
table.data tbody tr td p,ul.sku ol li p{padding:.5em .2em;}
ul.sku ol li.size{width:50px;}
ul.sku ol li.purchaseprice{width:100px;}
ul.sku ol li.purchasevalue{width:100px;}
ul.sku ol li.status{width:40px;}
ul.sku ol li.date{background-color:#f7f7f7;width:40px;}
ul.sku ol li.odd li.date{background-color:#efefef;}
ul.sku ol li.date.empty{color:#d8d8d8;}
ul.sku ol.header li{border-bottom:1px solid #d8d8d8;color:#d8d8d8;}
table.data tbody tr.selected td{background-color:#22318a!important;color:#fff;}
div.tablecontainer{top:81px;}
table#dataTable tbody tr.modeltype td{background:#dee8f6;border-bottom:1px solid #99bbe8;border-top:1px solid #f7f7f7;color:#15428B;height:28px;width:auto;}
#sidebar div.search{text-align:right;}
#sidebar div.search input.search{width:190px;}
#sidebar ul#groups{background-color:#efefef;border-top:1px solid #d8d8d8;padding:.4em 0 .8em;width:100%;}
#sidebar ul#groups li{cursor:pointer;display:inline;list-style-type:none;margin-left:2px;padding:.4em .5em .5em;}
#sidebar ul#groups li.selected{background-color:#fff;border:1px solid #d8d8d8;border-top-style:dotted;padding-top:3px;padding-bottom:5px;position:relative;top:-1px;}
div.modelpicture{border:1px solid #99BBE8;position:absolute;}
table.modelinfos{border:1px solid #99BBE8;height:490px;margin-top:1px;overflow:auto;position:absolute;width:335px;}
table#dataTable table.modelinfos{background-color:#fff;cursor:pointer;}
table#dataTable table.modelinfos tbody tr td{background-color:#fff;border:none;font-size:1em;padding:0 1em;height:20px;}
table#dataTable table.modelinfos tr.separator td{border-top:1px solid #d8d8d8;}
table#dataTable table.modelinfos tr.odd td{background-color:#f1f1f1;}
table#dataTable table.modelinfos tr.image td{text-align:left;height:70px;}
table#dataTable table.modelinfos tr.modules div{width:300px;height:62px;overflow-y:none;overflow-x:auto;}
table#dataTable table.modelinfos tr.modules table td{border-left:1px solid #d8d8d8;text-align:center;padding:0 .4em;}
table#dataTable table.modelinfos tr td.descr{color:#333;}
table#dataTable table.modelinfos tr td.value{text-align:right;padding-right:.2em;}
table#dataTable table.modelinfos tr td.unit{color:#d8d8d8;font-size:.9em;padding-left:.2em;padding-right:.4em;}
table#dataTable table.modelinfos tr.image td img.model{border:1px solid #d8d8d8;margin-left:.5em;padding:1px;max-height:75px;max-width:75px;}
table#dataTable table.modelinfos tr.image td img.zoom{position:absolute;margin:58px 0 0 -13px;}
table#dataTable table.modelinfos tr td.descr{padding:0 2em 0 1.5em;text-align:left;}
table#dataTable table.modelinfos tr.module td{background-color:#f7f7f7;}
table#dataTable table.modelinfos tr.module.odd td{background-color:#efefef;}
ul.menu{background-color:#fff;border:1px solid #000;position:absolute;width:210px;z-index:10;}
ul.menu li{color:#000;padding:.2em;text-align:left;}
ul.menu li:hover{background-color:#dee8f6;}
.expand_sizes ul.menu{margin:8px 0 0 -15px;width:200px;}
.budgetinfos{border-top:1px solid #d8d8d8;background-color:#FFFADF;}
.budgetinfos table.infos{width:100%;}
.budgetinfos table.infos td{border:none;}
.budgetinfos table.infos tr.group td{margin-top:1.5em;}
.budgetinfos table.infos tr.value td,.budgetinfos table.infos tr.db td,.budgetinfos table.infos tr.refresh td{background-color:#fff5bf;}
.budgetinfos table.infos tr td.descr{padding-left:1em;text-align:left;width:70px;}
.budgetinfos table.infos tr td.value{font-weight:bold;text-align:right;width:50px;}
.budgetinfos table.infos tr td.unit{padding:0 1em 0 .5em;text-align:left;width:90px;white-space:nowrap;}
.budgetinfos table.infos tr td.unit small{color:#adadad;font-size:.8em;padding-right:1em;}
.budgetinfos table.infos tr td{padding:.25em 0;line-height:1em;height:6px;}
.budgetinfos .toolbar li.headline{color:#15428B;font-weight:bold;overflow:hidden;width:188px;}
tr.modeltype .openclose{background:#fff!important;border-bottom-color:#f7f7f7!important;border-right:1px solid #99bbe8;}
tr.modeltype .openclose p{margin-left:6px;}
.valuta input{width:7em;}
.supplier select{width:6.3em;}
.quantities .buttonarea{border-right:1px solid #99bbe8;border-bottom:none;vertical-align:top;}
.quantities .buttonarea span{border:1px solid white;margin:1.2em .8em;}
.quantities .last{border-right:1px solid #99bbe8;width:1.1em;}
td.last{border-right:1px solid #99bbe8;}
.quantities .head>div{background-color:#f1f1f1;float:left;height:28px;padding-top:.5em;}
.quantities .head span{color:#d8d8d8;display:block;font-weight:bold;margin-top:.55em;text-align:center;}
.quantities .head input{color:#aaa;background-color:#f1f1f1;}
.quantities .body{padding-top:.6em;background-color:#fff;border-top:1px solid #d8d8d8;border-right:1px solid #99bbe8;display:none;}
.quantities .body .deliverydate>div{float:left;}
.quantities .sku input{text-align:right;border:none;}
.quantities .sku input.locked{color:#d8d8d8;}
.quantities input{width:2em;}
.quantities .foot{background-color:#f7f7f7;border-top:1px solid #d8d8d8;font-weight:bold;}
.quantities .foot span{display:block;margin-top:.35em;}
.quantities .foot .totalsum>div{background-color:#f1f1f1!important;border-top:1px solid #d8d8d8;}
.quantities .foot .sum>div{float:left;height:20px;}
.quantities .foot .rowhead{color:#d8d8d8;padding-left:1em;text-align:right;width:100px;}
.quantities .foot .sku{text-align:right;}
.quantities .date{padding-left:1em;width:50px;}
.quantities .name{width:50px;}
.quantities .rowsum{width:50px;}
.quantities .sku{width:30px;height:24px;text-align:right;}
.quantities .buttons span{display:none;}
td.quantityofferinfo ul{margin:2px 4px 2px;position:relative;}
td.quantityofferinfo ul li{color:#adadad;font-size:11px;text-align:right;}
tr.quantityofferinfo td.quantityofferinfo{padding:0 1px 1px;}
tr.quantityofferinfo td.quantityofferinfo.odd{background-color:#f1f1f1;}
tr.quantityofferinfo td.quantityofferinfo{background-color:#ececec;}
tr.quantityofferinfo td.quantityofferinfo:hover{border:1px solid #d4d0c8;border-top:none;background-color:#ffff80;cursor:pointer;padding:0;}
tr.quantityofferinfo td.quantityofferinfo.selected{background-color:#d1d9ff;cursor:pointer;}
tr.quantityofferinfo td.quantityofferinfo.selected ul li{color:#616161;}
td.quantityofferinfo ul li.select{text-align:center;}
td.quantityofferinfo ul li.select img{cursor:pointer;display:block;}
tr.quantityofferinfo td:hover ul.quantityofferinfo li.select img{display:block;}
#quantitofferlist tbody tr td.quantityoffer{background-color:#f1f1f1;text-align:center;}
#quantitofferlist tbody tr td.quantityoffer.odd{background-color:#ececec;}
#quantitofferlist tbody tr.odd td.quantityoffer{background-color:#f7f7f7;text-align:center;}
#quantitofferlist tbody tr.odd td.quantityoffer.odd{background-color:#f1f1f1;}
#quantitofferlist tr.selected td{background-color:#22318a!important;color:#efefef!important;}
#quantitofferlist tr td.selected{background-color:#d1d9ff!important;color:#efefef!important;}
#quantitofferlist tr.selected td.selected{background-color:#1c2871!important;border-bottom-color:#d1d9ff;}
#quantitofferlist tr.last td.selected{border-bottom-color:#d4d0c8;}
div.tablecontainer{top:148px;}
td.quantityproposalinfo ul{margin:2px 4px 2px;position:relative;}
td.quantityproposalinfo ul li{color:#adadad;font-size:11px;text-align:right;}
td.quantityproposalinfo .action{text-align:center;height:20px;}
tr.quantityproposalinfo td{background:#ececec url('../../images/controllers/quantityproposal/header_bgr.gif') repeat-x;text-align:center;vertical-align:middle;}
tr.quantityproposalinfo td.quantityproposalinfo{padding:0 1px 1px;}
tr.quantityproposalinfo td.quantityproposalinfo.odd{background:#f1f1f1 url('../../images/controllers/quantityproposal/header_bgr_odd.gif') repeat-x;}
tr.quantityproposalinfo td.quantityproposalinfo{background-color:#ececec;}
tr.quantityproposalinfo td.quantityproposalinfo.selected{background-color:#d1d9ff;background-image:none;cursor:pointer;}
tr.quantityproposalinfo td.quantityproposalinfo.selected ul li{color:#616161;}
td.quantityproposalinfo ul li.select{text-align:center;}
td.quantityproposalinfo ul li.select img{cursor:pointer;display:block;}
tr.quantityproposalinfo td:hover ul.quantityproposalinfo li.select img{display:block;}
#quantityproposals tbody tr td.quantityproposal{background-color:#f1f1f1;text-align:center;}
#quantityproposals tbody tr td.quantityproposal.odd{background-color:#ececec;}
#quantityproposals tbody tr.odd td.quantityproposal{background-color:#f7f7f7;text-align:center;}
#quantityproposals tbody tr.odd td.quantityproposal.odd{background-color:#f1f1f1;}
#quantityproposals tr.selected td{background-color:#22318a!important;color:#efefef!important;}
#quantityproposals tr td.selected{background-color:#d1d9ff!important;color:#efefef!important;}
#quantityproposals tr.selected td.selected{background-color:#1c2871!important;border-bottom-color:#d1d9ff;}
#quantityproposals tr.last td.selected{border-bottom-color:#d4d0c8;}
#quantityproposals tr.selected td{background-color:#22318a!important;color:#fff;}
#quantityproposals tr.semi_selected td{background-color:#d1d9ff!important;}
#quantityproposals td.image_states .states ul li{display:block;float:left;padding:0;text-align:center;width:29px;}
#quantityproposals td.openclose{background-color:#fff!important;border-right:1px solid #d8d8d8;border-bottom-color:#f7f7f7;}
#quantityproposals tr.modeltype td.openclose{border-top:none;}
#quantityproposals tr.quantityproposalinfo td.openclose{border-top:none;border-bottom:none;}
#quantityproposals td.image_states .image ul{display:inline;float:right;margin-right:7px;}
#quantityproposals td.image_states .image ul li{height:18px;}
#shopDuplicationDialog table.data td{height:32px;text-align:center;}
#shopDuplicationDialog select{width:100px;}
#usersettings{background-color:#fff;}
#usersettings h3{color:#15428B;font-size:1em;font-weight:bold;letter-spacing:1px;margin:2em 2em 1em;text-transform:uppercase;}
#usersettings ul.entry{margin:1em 2em 1em 2.5em;}
#usersettings ul.entry li{border-bottom:1px dashed #f1f1f1;height:22px;padding:.4em 0;vertical-align:middle;}
#usersettings ul.entry li label{text-align:left;float:left;height:22px;vertical-align:middle;width:250px;padding-bottom:.5em;}
#usersettings ul.entry li span{margin-left:10px;}
#usersettings ul.choose li{float:left;}
#usersettings ul.choose li{border:none;}
#usersettings ul.choose li label{float:none;margin-right:.5em;position:relative;top:-3px;width:auto;}